@CHARSET "UTF-8";

* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: #EEE;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	color: #555;
}

.mainPanel {
	width: 900px;
	margin: 0 auto;
}

div.clear {
	clear: both;
}

img {
	border: 0px;
}

hr {
	color: #CCC;
	background-color: #CCC;
	height: 1px;
	border: 0px;
}

a {
	/*color: black;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}

/*
#header {
	height: 230px;
	background-image: url("src/headerbackground.png");
	background-repeat: repeat-x;
}
*/




